__pycache__/
*.pyc
*.pyd
*.egg-info/
.coverage
htmlcov/

.env
.venv/

.pytest_cache/
.ruff_cache/
.vscode/
.git/
.github/

*logs/
*.db
.log

test
Makefile
*.md
docker-compose.yml

PricerMlModel/data/
PricerMlModel/reports/
RetailApp/db
RetailApp/seed_data.py